* {
    margin: 0;
    padding: 0;
}

html, body {
    background-image: url("../images/drawing.png");
    background-size: 100%;
    background-color: aquamarine;
    font-family: "verdana";
}
h1{
    font-family: "Vladimir Script";
    font-weight: bold;
    font-size: 80px;
    text-align: left;
    color: black;
    margin-left: 20%;
}
.projects #title a{
    font-family: "Vladimir Script";
    font-weight: bold;
    font-size: 80px;
    text-align: left;
    color: black;
    margin-left: 20%;
    text-decoration: none;
}
.projects #title a:hover{
    color: slategrey;
}
h2 {
    text-align: center;
}
h3 {
    font-family: "Vladimir Script";
    font-weight: bold;
    font-size: 38px;
    color: black;
}
p{
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
    color: black;
    margin-left: 20%;
}
.card-columns {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 400px;
}
.projects .card .card-body{
    text-align: center;
    padding-top: 300px;
    opacity: 0;
}
.projects .card .card-body:hover{
    opacity: unset;
}
.projects .card .card-body i{
    display: inline-block;
    margin-right: 1em;
}
.projects .card{
    background-size: cover;
    background-position: center;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects #portfolio{
    background-image: url("../images/portfolio.png");
}
.projects #portfolio:hover{
    background-image: url("../images/portfolioO.png");
}
.projects #hms{
    background-image: url("../images/hms.png");
}
.projects #hms:hover{
    background-image: url("../images/hmsO.png");
}
.projects #soccer{
    background-image: url("../images/soccer.png");
}
.projects #soccer:hover{
    background-image: url("../images/soccerO.png");
}
.projects #deadlift{
    background-image: url("../images/deadlift.png");
}
.projects #deadlift:hover{
    background-image: url("../images/deadliftO.png");
}
.projects #shapes{
    background-image: url("../images/jogl.png");
}
.projects #shapes:hover{
    background-image: url("../images/joglO.png");
}
.projects #smile{
    background-image: url("../images/2d.png");
}
.projects #smile:hover{
    background-image: url("../images/2dO.png");
}
.projects #seaport{
    background-image: url("../images/seaport.png");
}
.projects #seaport:hover{
    background-image: url("../images/seaportO.png");
}
.projects #bubbleSort{
    background-image: url("../images/bubblesort.png");
}
.projects #bubbleSort:hover{
    background-image: url("../images/bubblesortO.png");
}
.viewBtn{
    background-color: slategrey;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.viewBtn:hover{
    border: none;
    color: black;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: lightgrey;
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
.modal .colFirst{
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 500px;
    float: left;
}
#viewModal1 .colFirst{
    background-image: url("../images/portfolio.png");
}
#viewModal2 .colFirst{
    background-image: url("../images/hms.png");
}
#viewModal3 .colFirst{
    background-image: url("../images/deadlift.png");
}
#viewModal4 .colFirst{
    background-image: url("../images/soccer.png");
}
#viewModal5 .colFirst{
    background-image: url("../images/2d.png");
}
#viewModal6 .colFirst{
    background-image: url("../images/jogl.png");
}
#viewModal7 .colFirst{
    background-image: url("../images/seaport.png");
}
#viewModal8 .colFirst{
    background-image: url("../images/bubblesort.png");
}
#viewModal9 .colFirst{
    background-image: url("../images/hms.png");
}
#viewModal10 .colFirst{
    background-image: url("../images/hms.png");
}
.colSecond{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.title h3{
    font-size: 60px;
}
.tags{
    background-color: lightgrey;
    border: 1px solid #000000;
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: 10px;
}
.btnGroup{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding-top: 5%;
}
.btnGroup i{
    margin-right: 1em;
}
.viewDemo{
    background-color: slategrey;
    padding: 10px 20px;
    color: black;
    border: none;
    outline: none;
}
.viewDemo:hover{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    outline: black;
}
.viewCode{
    background-color: slategrey;
    padding: 10px 20px;
    color: black;
    border: none;
    outline: none;
}
.viewCode:hover{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    outline: black;
}
.modals .about{
    padding-top: 3%;
}
.modals .about p{
    margin-left: 5%;
}
.projects .container-fluid {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
